<% unless sidebar.tags.blank? %>
  <h3 class="sidebar-title"><%= t('.tags') %></h3>
  <div class="sidebar-body">
    <p class="tag-sidebar-tag-cloud">
    <% sidebar.tags.each do |tag| %>
      <span class="tag-sidebar-tag-<%= sidebar.sizes[tag] %>"><%= link_to tag.display_name, tag_url(tag.name) %></span>
    <% end %>
    </p>
  </div>
<% end %>
