<div class="sortable" data-callback_url="<%= sortable_admin_sidebar_index_path %>">
  <% ordered_sidebars.each_with_index do |sidebar, index| %>
    <% next unless sidebar.id %>
    <%= render 'target_sidebar', sidebar: sidebar, sortable_index: index %>
  <% end %>
  <% if ordered_sidebars.empty? %>
    <div><%= t('.drag_some_plugins_here') %></div>
  <% end %>
</div>
