/*
 *= require coderay
 *= require lightbox
 */

.statuses_sidebar {
  border-bottom: #eee 1px solid;
  font-size: 0.9em;
}

.markup-help-popup {
  padding: 0;
}

.markup-help-popup > div {
  padding: 1em;
}

.markup-help-popup-close {
  float: right;
  cursor: pointer;
}

.admintools {
  display: none;
}

.admin-tools-reveal:hover .admintools {
  display: block;
}

.tag-sidebar-tag-cloud {
  overflow: hidden;
}

.tag-sidebar-tag-67 { font-size: 0.67em; }
.tag-sidebar-tag-75 { font-size: 0.75em; }
.tag-sidebar-tag-83 { font-size: 0.83em; }
.tag-sidebar-tag-91 { font-size: 0.91em; }
.tag-sidebar-tag-100 { font-size: 1em; }
.tag-sidebar-tag-112 { font-size: 1.12em; }
.tag-sidebar-tag-125 { font-size: 1.25em; }
.tag-sidebar-tag-137 { font-size: 1.37em; }
.tag-sidebar-tag-150 { font-size: 1.50em; }
.tag-sidebar-tag-162 { font-size: 1.62em; }
.tag-sidebar-tag-175 { font-size: 1.75em; }
.tag-sidebar-tag-187 { font-size: 1.87em; }
.tag-sidebar-tag-200 { font-size: 2em; }

.hidden {
  display: none;
}
