<% flash.each do |alert_level, message| %>
  <div id="flash" class='alert alert-<%= flash[:error] ? 'danger' : 'success' %>'>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= message %>
  </div>
<% end %>
