<% flash.each do |alert_level, message| %>
  <div id="flash" class="alert alert-dismissible fade show alert-<%= flash[:error] ? "danger" : "success" %>">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= message %>
  </div>
<% end %>
